body{
   margin: 0;
   padding: 0;
   height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
.detail-page{
    display: flex;
    height: 83.8vh;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
}
#left-container{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-left: 4%;
    height: 100%;
}
#right-container{
    display: flex;
    flex-direction:column;
    flex-basis: 50%;
}

button{
    background: none;
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 2.5px 0px gray;
    color: gray;
    padding: 0.2rem;
    margin:0rem 0.2rem;
}
.back{
    width: 10rem;
    margin-top: 5rem;
    color: white ;
    padding: 0.2rem 1rem;
}

h5{
    margin:0;
}
.detailsL{
    display: flex;
    flex-flow: column wrap;
    height: 10rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.borderCountries{
    display: flex;
    align-items: center;
}
.flag-L{
    height: 30rem;
    width: 45rem;
    margin-top: 5rem;
}
.darkmode a{
    color: white !important;
    background-color:#2B3743 !important;
    border: none;
  }
  #darkmode{
    color: white !important;
    background-color:#2B3743;
    border: none;
  }
  .darkBackground{
    color: white;
    background-color:#202D36;
  }
  #darkBackground{
    color: white;
    background-color:#202D36;
  }
  .darkbutton{
    color: black;
    box-shadow: none;
  }