body{
  margin:0;
  padding: 0;
  font-family: Ubuntu;
  font-size: large;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black; 
   padding: 2% 4%;
}
#dark{
  height: 2rem;
  display: flex;
  align-items:center;
  background-color: transparent;
  border: 0px;
  color: black;
}
#moon{
  margin-right: 0.5rem;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  padding: 2% 4%;
  gap: 9rem;
  background-color: #FAFAFA;
}
.flag{
  height: 12rem;
  width: 20rem;
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0px 1px 4px 0px gray; */
  object-fit: fill;
}
.card{
  border-radius: 10px;
  width: 20rem;
  box-shadow: 5px 5px 20px 0px gray;
  background-color: #f8f9fa;
  padding: 0rem 0rem 0rem 0rem;
}
.details{
  padding: 0rem 2rem 3rem 2rem;
  color: gray;
}
h4{
  color: black;
}
.search-box{
  border: none;
  padding: 1%;
}
.search-bar{
  background-color: white;
  box-shadow: 5px 5px 10px 0px gray;
  border-radius: 5px;
  padding: 0.5%;
  gap: 0.5rem;
  width: 15rem;
  display: flex;
  align-items: center;
}
#sort, #region-select, #sub-region-select{
  background-color: white;
  color: gray;
  box-shadow: 5px 5px 10px 0px gray;
  border-radius: 5px;
  border: none;
  padding: 0.5%;
  gap: 0.5rem;
  width: 15rem;
  display: flex;
  align-items: center;
}
#search-icon{
  color: gray;
}

.darkmode{
  color: white !important;
  background-color:#2B3743 !important;
  border: none;
}
#darkmode{
  color: white !important;
  background-color:#2B3743;
  border: none;
}
.darkBackground{
  color: white;
  background-color:#202D36;
}
#darkBackground{
  color: white;
  background-color:#202D36;
}
.darkbutton{
  color: black;
  box-shadow: none;
}